<link rel="stylesheet" href="views/recursos/recursos.css" />
<div class="jumbotron">
    <div class="container">
        <div id="cadastroDiv" class="row justify-content-center align-items-center querover">
            <div class="col-12">
                <h1 class="text-center">Recursos(Menu)</h1>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label for="descricao">Descrição</label>
                    <input type="text" class="form-control inputDescricao" id="descricao" placeholder="Informe uma descrição para o menu">
                </div>
                <div class="form-group">
                    <label for="url">URL</label>
                    <input type="text" class="form-control inputURL" id="url" placeholder="Informe url">
                </div>
                <button type="button" class="btn btn-primary btn-lg btn-block confirmar">Confirmar</button>
            </div>
            <div class="col-4">
                list
            </div>
        </div>
    </div>
</div>
<div class="color">
</div>
<script src="views/recursos/recursos.js"></script>