<link rel="stylesheet" href="views/atribuirGrupo/atribuirGrupo.css" />
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div id="nada" class="col-12 text-center">
                <h1 class="titlo">Atribua grupo para usuario</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="list-group" id="list-tab" role="tablist">

                </div>
            </div>
            <div class="col-8">
                <div class="tab-content" id="nav-tabContent">

                </div>
            </div>
        </div>
    </div>
</div>
<script src="views/atribuirGrupo/atribuirGrupo.js"></script>